@import "../../mixin/flexbox.scss";
@import "../../mixin/font.scss";
@import "../../mixin/size.scss";

@media (min-width: 320px) {
  .favorites {
    color: #fdef00;
    h3 {
      @include font("Sen-bold", 9px, bold);
      text-transform: uppercase;
    }
    table {
      tr {
        @include font("Sen", 9px, normal);
        th {
          font-weight: normal;
          text-align: left;
        }
        td {
          padding-left: 6px;
          color: #3177fe;
        }
      }
    }
    .score {
      @include flexbox(column, flex-start, flex-start);
      margin-top: 56px;
      span {
        padding: 1%;
        font-size: 10px;
      }
    }
  }
}

@media (min-width: 576px) {
  .favorites {
    h3 {
      font-size: 11px;
    }
    table {
      tr {
        font-size: 11px;
        th {
        }
        td {
          padding-left: 20px;
        }
      }
    }
    .score {
      margin-top: 56px;
      span {
        font-size: 10px;
      }
    }
  }
}

@media (min-width: 768px) {
  .favorites {
    h3 {
      font-size: 16px;
    }
    table {
      tr {
        font-size: 12px;
        th {
        }
        td {
          padding-left: 12px;
        }
      }
    }
    .score {
      @include flexbox(column, flex-start, flex-start);
      margin-top: 40px;
      span {
        font-size: 12px;
      }
    }
  }
}

@media (min-width: 992px) {
  .favorites {
    h3 {
      font-size: 18px;
    }
    table {
      tr {
        font-size: 14px;
        th {
        }
        td {
          padding-left: 14px;
        }
      }
    }
    .score {
      @include flexbox(column, flex-start, flex-start);
      margin-top: 48px;
      span {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .favorites {
    h3 {
      font-size: 20px;
    }
    table {
      tr {
        font-size: 16px;
        th {
        }
        td {
          padding-left: 16px;
        }
      }
    }
    .score {
      @include flexbox(column, flex-start, flex-start);
      margin-top: 50px;
      span {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 1400px) {
  .favorites {
    h3 {
      font-size: 24px;
    }
    table {
      tr {
        font-size: 18px;
        th {
        }
        td {
          padding-left: 20px;
        }
      }
    }
    .score {
      margin-top: 60px;
      span {
        font-size: 18px;
      }
    }
  }
}
