@import "../../../mixin/index.scss";
@media (max-width: 1920.98px) {
  .column {
    z-index: 1;
    .column-header {
      @include flexbox(column, center, flex-start);
      padding-left: 6%;
      width: 420px;
      height: 70px;
      background: $blue-active;
      border-radius: 10px;
      margin-bottom: -2%;
      .column-name {
        margin-left: 5%;
        font-weight: bold;
        font-size: 20px;
        color: $white;
        margin-bottom: 3%;
      }
    }
  }
}

@media (max-width: 1600.98px) {
  .column {
    .column-header {
      width: 340px;
      height: 60px;
      .column-name {
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 1300.98px) {
  .column {
    .column-header {
      width: 250px;
      height: 50px;
      .column-name {
        font-size: 14px;
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .column {
    .column-header {
      width: 220px;
      height: 40px;
      .column-name {
        font-size: 11px;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .column {
    .column-header {
      width: 130px;
      height: 30px;
      .column-name {
        font-size: 9px;
      }
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}
