@import "../../mixin/flexbox.scss";
@import "../../mixin/popup.scss";
@import "../../mixin/modal.scss";
@import "../../mixin/modal-title.scss";
@import "../../mixin/buttons.scss";
@import "../../mixin/label.scss";

@media (max-width: 1600.98px) {
  .modal-task {
    height: 590px;
    textarea {
      height: 200px;
    }
  }
  .popup-task {
    @include popup();
    .modal-task {
      @include flexbox(column, none, none);
      @include modal(75%);
      h3 {
        @include modal-title;
      }
      .task-form {
        @include flexbox(column, none, none);
        input {
          padding: 1%;
        }
        select {
          padding: 1%;
        }
        .form-group + .form-group {
          margin-top: 1%;
        }
        label {
          @include label();
        }
        .form-group {
          @include flexbox(column, none, none);
          input {
            border: 1px solid #3f89fc;
            border-radius: 4px;
          }
          textarea {
            border: 1px solid #b9b9b9;
            border-radius: 4px;
          }
        }
        .sub-info {
          .sub-info-form-group {
            margin-top: 1%;
          }
          @include flexbox(row, space-between, none);
          flex-wrap: wrap;
          .sub-info-form-group {
            width: 48%;
            @include flexbox(column, none, none);
          }
        }
        .task-modal-buttons {
          margin-top: 3%;
          @include flexbox(row, flex-end, center);
          .submit-btn + .cancel-btn {
            margin-left: 5%;
          }
          .submit-btn {
            @include task-button();
            padding: 1%;
            padding-left: 5%;
            padding-right: 5%;
          }
          .cancel-btn {
            @include cancel-button();
          }
        }
      }
    }
    .display-block {
      display: block;
    }

    .display-none {
      display: none;
    }
  }
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  .modal-fixed-task {
    height: 530px;
    textarea {
      height: 170px;
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .modal-fixed-task {
    height: 480px;
    textarea {
      height: 140px;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .modal-fixed-task {
    height: 425px;
    textarea {
      height: 100px;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .modal-fixed-task {
    height: 400px;
    textarea {
      height: 70px;
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) {
//   .modal-fixed-task {
//     height: 300px;
//     textarea {
//       height: 100px;
//     }
//   }
// }
