@import "../../mixin/flexbox.scss";
@import "../../mixin/popup.scss";
@import "../../mixin/modal.scss";
@import "../../mixin/modal-title.scss";
@import "../../mixin/buttons.scss";
@import "../../mixin/label.scss";

// .text {
//   font-size: calc(5px + 2vmin);
//   width: 50vw;
//   padding: 10px;
// }

// .App {
//   text-align: center;
// }
// .App-header {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
// }
// .Controls {
//   border: 1px solid grey;
//   width: 50vw;
//   text-align: left;
//   padding: 10px;
// }
// button {
//   font-size: calc(8px + 2vmin);
//   margin: 0 2px;
//   width: 50px;
//   background-color: white;
//   cursor: pointer;
//   padding: 2px;
// }
// .Text {
// }

@media (max-width: 1600.98px) {
  .modal-task {
    height: 590px;
    textarea {
      height: 200px;
    }
  }
  .popup-task {
    @include popup();
    .modal-task {
      @include flexbox(column, none, none);
      @include modal(75%);
      h3 {
        @include modal-title;
      }
      .task-form {
        @include flexbox(column, none, none);
        input {
          padding: 1%;
        }
        select {
          padding: 1%;
        }
        .form-group + .form-group {
          margin-top: 1%;
        }
        label {
          @include label();
        }
        .form-group {
          @include flexbox(column, none, none);
          input {
            border: 1px solid #3f89fc;
            border-radius: 4px;
          }
          .description {
            display: flex;
            flex-direction: column;
            border: 1px solid #b9b9b9;
            border-radius: 4px;
            height: 200px;

            .description-header {
              padding: 1%;
              background: #f3f3f3;
              border-radius: 4px 4px 0px 0px;
              .formatters + .formatters {
                margin-left: 2%;
              }
              .formatters {
                font-size: 14px;
                color: #b9b9b9;
                margin-left: 1%;
                border: none;
              }
            }
            .description-text {
              border: 1px solid #b9b9b9;
              border-radius: 4px;
            }
          }
        }
        .sub-info {
          .sub-info-form-group {
            margin-top: 1%;
          }
          @include flexbox(row, space-between, none);
          flex-wrap: wrap;
          .sub-info-form-group {
            width: 48%;
            @include flexbox(column, none, none);
          }
        }
        .task-modal-buttons {
          margin-top: 3%;
          @include flexbox(row, flex-end, center);
          .submit-btn + .cancel-btn {
            margin-left: 5%;
          }
          .submit-btn {
            @include task-button();
            padding: 1%;
            padding-left: 5%;
            padding-right: 5%;
          }
          .cancel-btn {
            @include cancel-button();
          }
        }
      }
    }
    .display-block {
      display: block;
    }

    .display-none {
      display: none;
    }
  }
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  .modal-fixed-task {
    height: 530px;
    .description {
      height: 170px;
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .modal-fixed-task {
    height: 480px;
    .description {
      height: 140px;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .modal-fixed-task {
    height: 425px;
    .description {
      height: 100px;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .modal-fixed-task {
    height: 400px;
    .description {
      height: 70px;
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) {
//   .modal-fixed-task {
//     height: 300px;
//     textarea {
//       height: 100px;
//     }
//   }
// }
