@import "../../../../mixin/flexbox.scss";
@import "../../../../mixin/font.scss";

@media (min-width: 320px) {
  table.skills {
    tr {
      th {
        @include font("Sen-bold", 6px, bold);
        text-align: left;
      }
      td {
        @include font("Sen", 6px, normal);
        text-align: left;
      }
    }
  }
}

@media (min-width: 576px) {
  table.skills {
    tr {
      th {
        font-size: 8px;
      }
      td {
        font-size: 8px;
      }
    }
  }
}

@media (min-width: 768px) {
  table.skills {
    tr {
      th {
        font-size: 11px;
      }
      td {
        font-size: 11px;
      }
    }
  }
}

@media (min-width: 992px) {
  table.skills {
    tr {
      th {
        font-size: 14px;
      }
      td {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 1200px) {
  table.skills {
    tr {
      th {
        font-size: 17px;
      }
      td {
        font-size: 17px;
      }
    }
  }
}

@media (min-width: 1400px) {
  table.skills {
    tr {
      th {
        font-size: 20px;
      }
      td {
        font-size: 20px;
      }
    }
  }
}
