@import "../../../../mixin";

@media (max-width: 1920.98px) {
  .popup-lastcard {
    @include popup;
    .lastcard {
      @include modal(55%);
      @include flexbox(column, space-evenly, none);
      height: 314px;
      transform: translate(-50%, 50%);
      padding: 1%;
      .lastcard-header {
        @include flexbox(row, space-between, flex-end);
        .lastcard-num {
          @include num(16px);
        }
        .lastcard-cancel {
          align-self: end;
          border: none;
          background-color: $white;
          padding: 0.3%;
        }
      }
      .lastcard-main {
        @include flexbox(row, space-between, center);
        .lastcard-name {
          font-weight: bold;
          font-size: 32px;
          color: $black;
        }
        .lastcard-avatar {
          @include flexbox(row, none, center);
          margin-right: 5%;
          span {
            margin-right: 15%;
            font-size: 15px;
          }
          img {
            width: 50px;
            height: 50px;
          }
        }
      }

      .lastcard-description {
        font-size: 14px;
        color: $grey;
        box-sizing: border-box;
        word-break: break-all;
        .lastcard-text {
          font-weight: 500;
          font-size: 14px;
          color: $black;
        }
      }

      .lastcard-footer {
        @include flexbox(row, space-between, center);
        .lastcard-until {
          @include flexbox(row, center, center);
          .calendar {
          }
          .until {
            @include time-date(14px);
          }
        }

        .lastcard-time {
          @include flexbox(row, none, center);

          .clock {
          }
          .time {
            @include time-date(14px);
          }
        }

        .lastcard-start-date {
          @include time-date(14px);
        }
      }
    }
  }
}

@media (max-width: 1600.98px) {
  .popup-lastcard {
    .lastcard {
      height: 290px;
      .lastcard-header {
        .lastcard-num {
          @include num(15px);
        }
        .lastcard-cancel {
        }
      }
      .lastcard-main {
        .lastcard-name {
          font-size: 28px;
        }
        .lastcard-avatar {
          span {
            font-size: 14px;
          }
          img {
            width: 45px;
            height: 45px;
          }
        }
      }

      .lastcard-description {
        font-size: 13px;
        .lastcard-text {
          font-size: 13px;
        }
      }
      .lastcard-footer {
        .lastcard-until {
          .calendar {
          }
          .until {
            @include time-date(13px);
          }
        }
        .lastcard-time {
          .clock {
          }
          .time {
            @include time-date(13px);
          }
        }

        .lastcard-start-date {
          @include time-date(13px);
        }
      }
    }
  }
}

@media (max-width: 1300.98px) {
  .popup-lastcard {
    .lastcard {
      height: 240px;
      .lastcard-header {
        .lastcard-num {
          @include num(14px);
        }
        .lastcard-cancel {
        }
      }
      .lastcard-main {
        .lastcard-name {
          font-size: 25px;
        }
        .lastcard-avatar {
          span {
            font-size: 13px;
          }
          img {
            width: 35px;
            height: 35px;
          }
        }
      }

      .lastcard-description {
        font-size: 12px;
        .lastcard-text {
          font-size: 12px;
        }
      }
      .lastcard-footer {
        .lastcard-until {
          .calendar {
          }
          .until {
            @include time-date(12px);
          }
        }
        .lastcard-time {
          .clock {
          }
          .time {
            @include time-date(12px);
          }
        }

        .lastcard-start-date {
          @include time-date(12px);
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .popup-lastcard {
    .lastcard {
      height: 210px;
      .lastcard-header {
        .lastcard-num {
          @include num(13px);
        }
        .lastcard-cancel {
        }
      }
      .lastcard-main {
        .lastcard-name {
          font-size: 21px;
        }
        .lastcard-avatar {
          span {
            font-size: 12px;
          }
          img {
            width: 30px;
            height: 30px;
          }
        }
      }

      .lastcard-description {
        font-size: 11px;
        .lastcard-text {
          font-size: 11px;
        }
      }
      .lastcard-footer {
        .lastcard-until {
          .calendar {
          }
          .until {
            @include time-date(11px);
          }
        }
        .lastcard-time {
          .clock {
          }
          .time {
            @include time-date(11px);
          }
        }

        .lastcard-start-date {
          @include time-date(11px);
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .popup-lastcard {
    .lastcard {
      height: 190px;
      .lastcard-header {
        .lastcard-num {
          @include num(12px);
        }
        .lastcard-cancel {
        }
      }
      .lastcard-main {
        .lastcard-name {
          font-size: 19px;
        }
        .lastcard-avatar {
          span {
            font-size: 11px;
          }
          img {
            width: 30px;
            height: 30px;
          }
        }
      }

      .lastcard-description {
        font-size: 10px;
        .lastcard-text {
          font-size: 10px;
        }
      }
      .lastcard-footer {
        .lastcard-until {
          .calendar {
          }
          .until {
            @include time-date(10px);
          }
        }
        .lastcard-time {
          .clock {
          }
          .time {
            @include time-date(10px);
          }
        }

        .lastcard-start-date {
          @include time-date(10px);
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .popup-lastcard {
    @include popup;
    .lastcard {
      all: unset;
      @include modal(85%);
      @include flexbox(column, none, none);
      height: 420px;
      transform: translate(-50%, 15%);
      padding: 3%;
      .lastcard-header {
        .lastcard-num {
          @include num(17px);
        }
      }
      .lastcard-main {
        all: unset;
        margin-top: 10%;
        .lastcard-name {
          all: unset;
          font-weight: bold;
          font-size: 22px;
          color: $black;
          word-break: break-all;
          text-align: left;
        }
        .lastcard-avatar {
          position: absolute;
          bottom: 2%;
          right: -1%;
          span {
            display: none;
          }
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
      .lastcard-description {
        margin-top: 7%;
        font-size: 15px;
        .lastcard-text {
          font-size: 15px;
        }
      }

      .lastcard-footer {
        all: unset;
        .lastcard-until {
          all: unset;
          margin-top: 5%;
          @include flexbox(row, none, none);
          .calendar {
          }
          .until {
            @include time-date(15px);
          }
        }
        .lastcard-time {
          margin-top: 5%;
          .clock {
          }
          .time {
            @include time-date(15px);
          }
        }

        .lastcard-start-date {
          position: absolute;
          bottom: 3%;
          left: 22%;
          @include time-date(15px);
        }
      }
    }
  }
}

@media (max-width: 320.98px) {
  .popup-lastcard {
    .lastcard {
      height: 386px;
      .lastcard-header {
        .lastcard-num {
          @include num(16px);
        }
      }
      .lastcard-main {
        .lastcard-name {
          font-size: 20px;
        }
        .lastcard-avatar {
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
      .lastcard-description {
        font-size: 14px;
        .lastcard-text {
          font-size: 14px;
        }
      }

      .lastcard-footer {
        .lastcard-until {
          .until {
            @include time-date(14px);
          }
        }
        .lastcard-time {
          .time {
            @include time-date(14px);
          }
        }

        .lastcard-start-date {
          @include time-date(14px);
        }
      }
    }
  }
}
