@import "../../../../mixin";

@media (max-width: 1920.98px) {
  .popup-lastcard {
    @include popup;
    .lastcard {
      @include modal(55%);
      @include flexbox(column, space-evenly, none);
      height: 314px;
      transform: translate(-50%, 110%);
      padding: 1%;
      // box-sizing: border-box;
      .lastcard-header {
        @include flexbox(row, space-between, flex-end);
        .lastcard-num {
          @include num(16px);
        }
        .lastcard-cancel {
          align-self: end;
          border: none;
          background-color: $white;
          padding: 0.3%;
        }
      }
      .lastcard-main {
        @include flexbox(row, space-between, center);
        .lastcard-name {
          font-weight: bold;
          font-size: 32px;
          color: $black;
        }
        .lastcard-avatar {
          @include flexbox(row, none, center);
          margin-right: 5%;
          span {
            margin-right: 15%;
            font-size: 15px;
          }
          img {
            width: 50px;
            height: 50px;
          }
        }
      }

      .lastcard-description {
        font-size: 14px;
        color: $grey;
        box-sizing: border-box;

        .lastcard-text {
          font-weight: 500;
          font-size: 14px;
          color: $black;
        }
      }

      .lastcard-footer {
        @include flexbox(row, space-between, center);
        .lastcard-until {
          @include flexbox(row, center, center);
          .calendar {
          }
          .until {
            @include time-date(14px);
          }
        }

        .lastcard-time {
          @include flexbox(row, none, center);

          .clock {
          }
          .time {
            @include time-date(14px);
          }
        }

        .lastcard-start-date {
          @include time-date(14px);
        }
      }
    }
  }
}
// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1600.98px) {
  .popup-lastcard {
    .lastcard {
      height: 290px;
      transform: translate(-50%, 90%);
      .lastcard-header {
        .lastcard-num {
          @include num(15px);
        }
        .lastcard-cancel {
        }
      }
      .lastcard-main {
        .lastcard-name {
          font-size: 28px;
        }
        .lastcard-avatar {
          span {
            font-size: 14px;
          }
          img {
            width: 45px;
            height: 45px;
          }
        }
      }

      .lastcard-description {
        font-size: 13px;
        .lastcard-text {
          font-size: 13px;
        }
      }
      .lastcard-footer {
        .lastcard-until {
          .calendar {
          }
          .until {
            @include time-date(13px);
          }
        }
        .lastcard-time {
          .clock {
          }
          .time {
            @include time-date(13px);
          }
        }

        .lastcard-start-date {
          @include time-date(13px);
        }
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1300.98px) {
  .popup-lastcard {
    .lastcard {
      height: 240px;
      transform: translate(-50%, 70%);
      .lastcard-header {
        .lastcard-num {
          @include num(14px);
        }
        .lastcard-cancel {
        }
      }
      .lastcard-main {
        .lastcard-name {
          font-size: 25px;
        }
        .lastcard-avatar {
          span {
            font-size: 13px;
          }
          img {
            width: 35px;
            height: 35px;
          }
        }
      }

      .lastcard-description {
        font-size: 12px;
        .lastcard-text {
          font-size: 12px;
        }
      }
      .lastcard-footer {
        .lastcard-until {
          .calendar {
          }
          .until {
            @include time-date(12px);
          }
        }
        .lastcard-time {
          .clock {
          }
          .time {
            @include time-date(12px);
          }
        }

        .lastcard-start-date {
          @include time-date(12px);
        }
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .popup-lastcard {
    .lastcard {
      height: 210px;
      transform: translate(-50%, 60%);
      .lastcard-header {
        .lastcard-num {
          @include num(13px);
        }
        .lastcard-cancel {
        }
      }
      .lastcard-main {
        .lastcard-name {
          font-size: 21px;
        }
        .lastcard-avatar {
          span {
            font-size: 12px;
          }
          img {
            width: 30px;
            height: 30px;
          }
        }
      }

      .lastcard-description {
        font-size: 11px;
        .lastcard-text {
          font-size: 11px;
        }
      }
      .lastcard-footer {
        .lastcard-until {
          .calendar {
          }
          .until {
            @include time-date(11px);
          }
        }
        .lastcard-time {
          .clock {
          }
          .time {
            @include time-date(11px);
          }
        }

        .lastcard-start-date {
          @include time-date(11px);
        }
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}
