@import "../../../../mixin/popup.scss";
@import "../../../../mixin/modal.scss";
@import "../../../../mixin/flexbox.scss";
@import "../../../../mixin/time-date.scss";
@import "../../../../mixin/num.scss";

.popup-lastcard {
  @include popup;
  .lastcard {
    @include modal(55%);
    @include flexbox(column, space-evenly, none);
    padding: 1%;
    box-sizing: border-box;
    .lastcard-header {
      @include flexbox(row, space-between, flex-end);
      .lastcard-num {
        @include num(16px);
      }
      .lastcard-cancel {
        align-self: end;
        border: none;
        background-color: white;
        padding: 0.3%;
      }
    }
    .lastcard-main {
      @include flexbox(row, space-between, center);
      .lastcard-name {
        font-weight: bold;
        font-size: 32px;
        color: #333333;
      }
      .lastcard-avatar {
        @include flexbox(row, none, center);
        margin-right: 5%;
        span {
          @include num(16px);
          margin-right: 15%;
        }
        img {
          width: 50px;
          height: 50px;
        }
      }
    }

    .lastcard-description {
      font-size: 14px;
      color: #b9b9b9;
      box-sizing: border-box;

      .lastcard-text {
        font-weight: 500;
        font-size: 14px;
        color: #333333;
      }
    }

    .lastcard-footer {
      @include flexbox(row, space-between, center);
      .lastcard-until {
        @include flexbox(row, center, center);
        .calendar {
        }
        .until {
          @include time-date(14px);
        }
      }

      .lastcard-time {
        @include flexbox(row, none, center);

        .clock {
        }
        .time {
          @include time-date(14px);
        }
      }

      .lastcard-start-date {
        @include time-date(14px);
      }
    }
  }
}
