@import "../../mixin/flexbox.scss";
.column {
  @include flexbox(column, none, flex-start);
  .column-header {
    width: 326px;
    height: 74px;
    background: #accdff;
    border-radius: 10px;
    @include flexbox(column, center, flex-start);
    .column-name {
      margin-left: 5%;
      font-weight: bold;
      font-size: 20px;
      color: #ffffff;
    }
  }
  .cards {
    @include flexbox(column, none, flex-start);
    flex-wrap: wrap;
    .card + .card {
      margin-top: 20px;
    }
  }
}
