@import "../../mixin";

@media (max-width: 1920.98px) {
  .popup-task {
    @include popup();
    .modal-task {
      @include flexbox(column, none, none);
      @include modal(50%);
      height: 650px;
      transform: translate(-50%, 10%);
      h3 {
        @include modal-title;
        font-size: 32px;
      }
      .task-form {
        @include flexbox(column, none, none);
        input {
          padding: 2%;
          font-size: 14px;
        }
        select {
          padding: 1%;
        }
        .form-group + .form-group {
          margin-top: 1%;
        }
        label {
          @include label();
          margin-bottom: 1%;
          font-size: 14px;
        }
        .form-group {
          @include flexbox(column, none, none);
          input {
            border: 1px solid $blue;
            border-radius: 4px;
          }
          .description {
            display: flex;
            flex-direction: column;
            border: 1px solid $grey;
            border-radius: 4px;

            .description-header {
              padding: 1%;
              background: $white;
              border-radius: 4px 4px 0px 0px;
              .formatters + .formatters {
                margin-left: 2%;
              }
              .formatters {
                font-size: 14px;
                color: $grey;
                margin-left: 1%;
                border: none;
              }
            }
            .description-text {
              height: 180px;
              border: 1px solid $grey;
              border-radius: 4px;
            }
          }
        }
        .sub-info {
          @include flexbox(row, space-between, none);
          flex-wrap: wrap;
          .sub-info-form-group {
            width: 48%;
            margin-top: 1%;
            // .react-datepicker //
            .react-datepicker-wrapper {
              input {
                width: 97%;
              }
            }
            //  //
            .react-timepicker-wrapper {
              .time-picker {
              }
            }
          }
          .sub-info-form-group {
            .author-select {
            }

            @include flexbox(column, none, none);
          }
        }
        .task-modal-buttons {
          margin-top: 3%;
          @include flexbox(row, flex-end, center);
          .submit-btn + .cancel-btn {
            margin-left: 5%;
          }
          .submit-btn {
            @include task-button();
            padding: 1%;
            padding-left: 5%;
            padding-right: 5%;
            font-size: 20px;
          }
          .cancel-btn {
            @include cancel-button();
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1600.98px) {
  .popup-task {
    .modal-task {
      @include modal(50%);
      height: 590px;

      h3 {
        font-size: 29px;
      }
      .task-form {
        input {
          font-size: 13px;
        }
        label {
          font-size: 13px;
        }
        .form-group {
          .description {
            .description-header {
              .formatters {
                font-size: 13px;
              }
            }
            .description-text {
              height: 166px;
            }
          }
        }
        .sub-info {
        }
        .task-modal-buttons {
          .submit-btn {
            font-size: 18px;
          }
          .cancel-btn {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 1300.98px) {
  .popup-task {
    .modal-task {
      @include modal(50%);
      height: 500px;

      h3 {
        font-size: 25px;
      }
      .task-form {
        input {
          font-size: 12px;
        }
        label {
          font-size: 12px;
        }
        .form-group {
          .description {
            .description-header {
              .formatters {
                font-size: 12px;
              }
            }
            .description-text {
              height: 140px;
            }
          }
        }
        .sub-info {
        }
        .task-modal-buttons {
          .submit-btn {
            font-size: 16px;
          }
          .cancel-btn {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .popup-task {
    .modal-task {
      @include modal(50%);
      height: 400px;
      transform: translate(-50%, 30%);
      h3 {
        font-size: 21px;
      }
      .task-form {
        input {
          font-size: 11px;
        }
        label {
          font-size: 11px;
        }
        .form-group {
          .description {
            .description-header {
              .formatters {
                font-size: 11px;
              }
            }
            .description-text {
              height: 90px;
            }
          }
        }
        .sub-info {
        }
        .task-modal-buttons {
          .submit-btn {
            font-size: 14px;
          }
          .cancel-btn {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .popup-task {
    .modal-task {
      @include modal(50%);
      height: 325px;
      transform: translate(-50%, 30%);
      h3 {
        font-size: 15px;
      }
      .task-form {
        input {
          font-size: 10px;
        }
        label {
          font-size: 10px;
        }
        .form-group {
          .description {
            .description-header {
              .formatters {
                font-size: 10px;
              }
            }
            .description-text {
              height: 60px;
            }
          }
        }
        .sub-info {
        }
        .task-modal-buttons {
          .submit-btn {
            font-size: 12px;
          }
          .cancel-btn {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .popup-task {
    .modal-task {
      @include modal(90%);
      height: 540px;
      transform: translate(-50%, 13%);
      padding: 3%;
      h3 {
        font-size: 22px;
      }
      .task-form {
        input {
          padding: 2%;
          font-size: 15px;
        }
        select {
          padding: 2%;
        }
        .form-group + .form-group {
          margin-top: 5%;
        }
        label {
          margin-bottom: 1%;
          font-size: 11px;
        }
        .form-group {
          // margin-top: 5%;
          input {
            border: 1px solid $grey;
            box-sizing: border-box;
            border-radius: 4px;
          }
          .description {
            @include flexbox(column, none, none);
            height: 45%;
            border: 1px solid $grey;
            box-sizing: border-box;
            border-radius: 4px;
            .description-header {
              display: none;
              .formatters {
                display: none;
              }
            }
            .description-text {
              all: unset;
              border-radius: 4px;
            }
          }
        }
        .sub-info {
          .sub-info-form-group + .sub-info-form-group {
            margin-top: 6%;
          }
          .sub-info-form-group {
            margin-top: -1%;
            width: 100%;
            // .react-datepicker //
            .react-datepicker-wrapper {
              input {
                width: 100%;
                border: 1px solid $grey;
                box-sizing: border-box;
                border-radius: 4px;
              }
            }
            //  //
            // .react-timepicker //
            .react-time-picker__wrapper {
              border: 1px solid $grey;
              box-sizing: border-box;
              border-radius: 4px;

              .time-picker {
                border: 1px solid $grey;
                box-sizing: border-box;
                border-radius: 4px;
              }
            }
            //                  //
          }
          .sub-info-form-group {
            // margin-top: 5%;
            .author-select {
              all: unset;
              border: 1px solid $grey;
              box-sizing: border-box;
              padding: 1%;
              border-radius: 4px;
            }
          }
        }
        .task-modal-buttons {
          margin-top: 5%;
          @include flexbox(column, none, none);
          width: 100%;
          .submit-btn {
            margin-top: 3%;
            padding: 1%;
            padding-left: 5%;
            padding-right: 5%;
            width: 100%;
            @include task-button();
            font-size: 16px;
            border-radius: 6px;
          }
          .cancel-btn {
            margin-top: 3%;
            width: 100%;
            @include cancel-button();
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 320.98px) {
  .popup-task {
    .modal-task {
      height: 444px;
      h3 {
        font-size: 20px;
      }
      .task-form {
        input {
          font-size: 14px;
        }
        label {
          font-size: 10px;
        }
        .task-modal-buttons {
          .submit-btn {
            font-size: 14px;
          }
          .cancel-btn {
            font-size: 14px;
          }
        }
      }
    }
  }
}

// @media (max-width: 1920.98px) {
// }
// // X-Large devices (large desktops, less than 1400px)
// @media (max-width: 1600.98px) {
// }

// // Large devices (desktops, less than 1200px)
// @media (max-width: 1300.98px) {
// }

// // Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) {
// }

// // Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) {
// }

// // X-Small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) {
// }
