@import "../../../mixin/";

@media (max-width: 1920.98px) {
  .card {
    width: 420px;
    height: 240px;
    padding: 3%;
    background: $white;
    box-shadow: 10px 10px 50px rgba(145, 167, 168, 0.3);
    border-radius: 10px;
    z-index: 0;
    @include flexbox(column, space-evenly, flex-start);
    .card-name {
      font-weight: 600;
      font-size: 20px;
      color: $black;
      word-break: break-all;
    }
    .until {
      @include time-date(16px);
    }
    .time {
      @include time-date(16px);
    }
    .project-name {
      padding: 2%;
      padding-left: 2%;
      padding-right: 2%;
      background: #cdeafb;
      border-radius: 10px;
      font-size: 16px;
      color: $blue;
      border: none;
      &:before {
        content: "Project ";
      }
    }
    .card-footer {
      width: 100%;
      @include flexbox(row, space-between, center);
      .card-num {
        @include num(24px);
      }
      .avatar {
        height: 50px;
        width: 50px;
      }
    }
    // btn for mobiles layout //
    .open-cards-info-for-mobiles-btn {
      display: none;
    }
    //   //
  }
}

@media (max-width: 1600.98px) {
  .card {
    width: 340px;
    height: 215px;
    .card-name {
      font-size: 19px;
    }
    .until {
      @include time-date(15px);
    }
    .time {
      @include time-date(15px);
    }
    .project-name {
      font-size: 15px;
    }
    .card-footer {
      .card-num {
        @include num(21px);
      }
      .avatar {
        height: 45px;
        width: 45px;
      }
    }
  }
}

@media (max-width: 1300.98px) {
  .card {
    width: 250px;
    height: 190px;
    .card-name {
      font-size: 17px;
    }
    .until {
      @include time-date(14px);
    }
    .time {
      @include time-date(14px);
    }
    .project-name {
      font-size: 14px;
    }
    .card-footer {
      .card-num {
        @include num(18px);
      }
      .avatar {
        height: 40px;
        width: 40px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .card {
    width: 220px;
    height: 160px;
    .card-name {
      font-size: 15px;
    }
    .until {
      @include time-date(12px);
    }
    .time {
      @include time-date(12px);
    }
    .project-name {
      font-size: 12px;
    }
    .card-footer {
      .card-num {
        @include num(15px);
      }
      .avatar {
        height: 35px;
        width: 35px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .card {
    width: 130px;
    height: 130px;
    .card-name {
      font-size: 13px;
    }
    .until {
      @include time-date(9px);
    }
    .time {
      @include time-date(9px);
    }
    .project-name {
      font-size: 10px;
    }
    .card-footer {
      .card-num {
        @include num(12px);
      }
      .avatar {
        height: 30px;
        width: 30px;
      }
    }
  }
}
// MOBILES LAYOUT //

@media (max-width: 575.98px) {
  .card {
    all: unset;
    @include flexbox(row, flex-start, flex-start);
    width: 100%;
    height: 54px;
    background: $white;
    box-shadow: 10px 10px 50px rgba(145, 167, 168, 0.3);
    border-radius: 10px;
    margin-top: 4%;
    .card-name {
      position: absolute;
      left: 15%;
      top: -20%;
      font-size: 16px;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 160px;
      white-space: nowrap;
    }
    .until {
      display: none;
    }
    .time {
      display: none;
    }
    .project-name {
      position: absolute;
      bottom: 10%;
      left: 27%;
      padding: 0.4%;
      font-size: 9.5px;
      &:before {
        content: "";
      }
    }
    .card-footer {
      position: absolute;
      @include flexbox(row-reverse, flex-end, center);
      .card-num {
        position: absolute;
        font-size: 11px;
        bottom: 2%;
        left: 15%;
      }
      .avatar {
        margin-top: 2%;
        margin-left: 2%;
        width: 40px;
        height: 40px;
      }
    }
    .open-cards-info-for-mobiles-btn {
      border: none;
      background: inherit;
      display: block;
      position: absolute;
      right: 1%;
      bottom: 25%;
    }
  }
}

@media (max-width: 320.98px) {
  .card {
    height: 44px;
    .card-name {
      font-size: 14px;
    }
    .project-name {
      font-size: 8px;
    }
    .card-footer {
      .card-num {
        font-size: 10px;
        bottom: -7%;
      }
      .avatar {
        width: 32px;
        height: 32px;
      }
    }
  }
}

//  //
