@import "../../mixin/flexbox.scss";
@import "../../mixin/font.scss";
@import "../../mixin/size.scss";

@media (min-width: 320px) {
  .tabs-container {
    @include flexbox(row, center, center);
    @include size(auto, 15px);
    background-color: #1faa0c8c;
    .tabs {
      @include flexbox(row, center, center);
      list-style-type: none;
      li:first-child {
        margin-left: -15%;
      }
      li + li {
        margin-left: 10%;
      }
      .tab {
        @include font("Sen-bold", 10px, bold);
        color: #66fcde;
        text-decoration-line: underline;
      }
    }
  }
}

@media (min-width: 576px) {
  .tabs-container {
    @include size(auto, 25px);
    .tabs {
      li + li {
        margin-left: 14%;
      }
      .tab {
        font-size: 12px;
      }
    }
  }
}

@media (min-width: 768px) {
  .tabs-container {
    @include size(auto, 35px);
    .tabs {
      li + li {
        margin-left: 17%;
      }
      .tab {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 992px) {
  .tabs-container {
    @include size(auto, 45px);
    .tabs {
      .tab {
        font-size: 17px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .tabs-container {
    @include size(auto, 55px);
    .tabs {
      li + li {
        margin-left: 22%;
      }
      .tab {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 1400px) {
  .tabs-container {
    @include size(auto, 65px);
    .tabs {
      .tab {
        font-size: 24px;
      }
    }
  }
}
