footer {
    .footer-social{
         position: absolute;
         bottom: 5%;
         left: 5%;
         // display: inline;
    }
    .footer-private{
         position: absolute;
         right: 5%;
         bottom: 5%;
         display: inline;
    }
 }
 