@import "./mixin";

@media (max-width: 1920.98px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    box-sizing: border-box;
    background-color: #dbf0f1;
  }
  .App {
    background-color: $white;
    .App-header {
      background-color: $white;
      margin-left: 6%;
      margin-right: 6%;
      padding: 1%;
      .header {
        @include flexbox(row, space-between, center);
        .logo {
          @include flexbox(row, space-between, center);
          .badge + .the {
            margin-left: 10%;
          }
          .the + .project-title {
            margin-left: 3%;
          }
          .badge {
            height: 86px;
            width: 86px;
          }
          .the {
            width: 54.03px;
            height: 29.82px;
          }
          .project-title {
            width: 125.46px;
            height: 31.5px;
          }
        }
        .header-buttons {
          width: 100%;
          @include flexbox(row, flex-end, center);
          .column-btn + .task-btn {
            margin-left: 6%;
          }
          .task-btn {
            @include task-button;

            font-size: 20px;
            padding: 1%;
            padding-left: 5%;
            padding-right: 5%;
            &:before {
              content: "Create task";
            }
          }
          .column-btn {
            @include column-button;
            font-size: 20px;
            padding: 1%;
            padding-left: 4%;
            padding-right: 4%;
            &:before {
              content: "Create column";
            }
          }
        }
      }
    }
    .App-main {
      background-color: #dbf0f1;
      .main {
        position: relative;
        padding: 5%;
        .columns {
          .drag + .drag {
            margin-top: 20px;
          }
          padding-right: 4%;
          @include flexbox(row, space-between, none);
        }
      }
    }
    .lastcard-btn {
      @include column-button;
      position: fixed;
      left: 0px;
      bottom: 0px;
      padding: 0.2%;
      font-size: 20px;
      width: 100%;
      z-index: 1;
    }
  }
  // for all popups //
  .display-block {
    display: block;
  }

  .display-none {
    display: none;
  }
  //  //

  .scrollbar {
    // Scrollbar from npm perfect-scrollbar //
    height: 1000px;
    .ps__rail-y {
      width: 7px;
      background: $white;
      border-radius: 6px;
    }
    .ps--active-x > .ps__rail-x,
    .ps--active-y > .ps__rail-y {
      display: block;
      background-color: #414141;
    }

    // Scrollbar thumb styles//
    .ps__thumb-y {
      width: 4px;
      max-height: 8%;
      border-radius: 6px;
      background-color: #414141;
    }
    // //
  }
}

@media (max-width: 1600.98px) {
  .App {
    .App-header {
      .header {
        .logo {
          .badge {
            height: 76px;
            width: 76px;
          }
          .the {
            width: 48px;
            height: 26px;
          }
          .project-title {
            width: 105px;
            height: 28px;
          }
        }
        .header-buttons {
          .task-btn {
            font-size: 17px;
          }
          .column-btn {
            font-size: 17px;
          }
          .lastcard-btn {
            font-size: 17px;
          }
        }
      }
    }
    .App-main {
      .main {
        .columns {
          .drag + .drag {
            margin-top: 18px;
          }
        }
      }
    }
    .scrollbar {
      height: 800px;
    }
  }
}

@media (max-width: 1300.98px) {
  .App {
    .App-header {
      .header {
        .logo {
          .badge {
            height: 66px;
            width: 66px;
          }
          .the {
            width: 42px;
            height: 22px;
          }
          .project-title {
            width: 90px;
            height: 25px;
          }
        }
        .header-buttons {
          .task-btn {
            font-size: 14px;
          }
          .column-btn {
            @include column-button;
            font-size: 14px;
          }
          .lastcard-btn {
            font-size: 14px;
          }
        }
      }
    }
    .App-main {
      .main {
        .columns {
          .drag + .drag {
            margin-top: 16px;
          }
        }
      }
    }
    .scrollbar {
      height: 400px;
    }
  }
}

@media (max-width: 991.98px) {
  .App {
    .App-header {
      .header {
        .logo {
          .badge {
            height: 56px;
            width: 56px;
          }
          .the {
            width: 35px;
            height: 19px;
          }
          .project-title {
            width: 80px;
            height: 22px;
          }
        }
        .header-buttons {
          .task-btn {
            font-size: 12px;
          }
          .column-btn {
            @include column-button;
            font-size: 12px;
          }
          .lastcard-btn {
            font-size: 12px;
          }
        }
      }
    }
    .App-main {
      .main {
        .columns {
          .drag + .drag {
            margin-top: 14px;
          }
        }
      }
    }
    .scrollbar {
      height: 300px;
    }
  }
}

@media (max-width: 767.98px) {
  .App {
    .App-header {
      .header {
        .logo {
          .badge {
            height: 46px;
            width: 46px;
          }
          .the {
            width: 30px;
            height: 14px;
          }
          .project-title {
            width: 65px;
            height: 19px;
          }
        }
        .header-buttons {
          .task-btn {
            font-size: 10px;
          }
          .column-btn {
            @include column-button;
            font-size: 10px;
          }
          .lastcard-btn {
            font-size: 10px;
          }
        }
      }
    }
    .App-main {
      .main {
        .columns {
          .drag + .drag {
            margin-top: 12px;
          }
        }
      }
    }
    .scrollbar {
      height: 200px;
    }
  }
}

// MOBILES LAYOUT //
@media (max-width: 575.98px) {
  .App {
    .App-header {
      margin-left: 1%;
      margin-right: 2%;
      padding: 3%;
      .header {
        .logo {
          .badge {
            height: 48px;
            width: 48px;
          }
          .the {
            width: 28px;
            height: 17px;
          }
          .project-title {
            width: 70px;
            height: 20px;
          }
        }
        .header-buttons {
          .task-btn {
            all: unset;
            &:before {
              color: $pink;
              content: "+";
              font-size: 30px;
            }
          }
          .column-btn {
            display: none;
          }
        }
      }
    }
    .App-main {
      .main {
        .columns {
          all: unset;
          .cards-none {
            display: none;
          }
          .cards-display {
            display: block;
          }
        }
        .scrollbar {
          all: unset;
        }
      }
    }
    .lastcard-btn {
      @include column-button;
      font-size: 16px;
    }
  }
}

@media (max-width: 320.98px) {
  .App {
    .App-header {
      .header {
        .logo {
          .badge {
            height: 38px;
            width: 38px;
          }
          .the {
            width: 24px;
            height: 13px;
          }
          .project-title {
            width: 57px;
            height: 14px;
          }
        }
        .header-buttons {
          .task-btn {
            &:before {
              font-size: 24px;
            }
          }
        }
      }
    }
    .lastcard-btn {
      font-size: 14px;
    }
  }
}
//  //
