@import "./mixin/flexbox.scss";
@import "./mixin/buttons.scss";

body {
  background-color: #dbf0f1;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  box-sizing: border-box;
}
.App {
  .App-header {
    background-color: #ffffff;
    @include flexbox(row, space-between, none);
    .App-buttons {
      @include flexbox(row, space-around, none);
      .task-btn {
        @include task-button;
      }
      .column-btn {
        @include column-button;
      }
    }
  }
  .App-main {
    position: relative;
    height: 390px;
    padding: 6%;
    .columns {
      @include flexbox(row, space-between, none);
      .column {
        @include flexbox(column, none, flex-start);
        .column-header {
          width: 326px;
          height: 74px;
          background: #accdff;
          border-radius: 10px;
          @include flexbox(column, center, flex-start);
          .column-name {
            margin-left: 5%;
            font-weight: bold;
            font-size: 20px;
            color: #ffffff;
          }
        }
        .cards {
          @include flexbox(column, none, flex-start);
          // flex-wrap: wrap;
          .card + .card {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
