@mixin task-button() {
  border-radius: 10px;
  background-color: #fc1370;
  color: #ffffff;
  font-size: 20px;
}

@mixin column-button() {
  border-radius: 10px;
  border: 1px solid #3f89fc;
  color: #3f89fc;
  font-size: 20px;
  background-color: #ffffff;
}

@mixin cancel-button() {
  font-weight: 500;
  font-size: 20px;
  color: #3f89fc;
  border: none;
}
