$grey: #b9b9b9;
$black: #333333;
$orange: #f95721;
$white: #ffffff;

$violet: #8342e9;
$violet-hover: #e6d7ff;

$pink: #fc1370;
$pink-active: #fc1370;
$pink-hover: #ff97c0;

$blue: #3f89fc;
$blue-active: #accdff;
$blue-hover: #cdeafb;

$yellow: #febd2f;
$yellow-active: #ffe6b0;
$yellow-hover: #ffefcb;
